<div class="slider">
  <ul class="slides">
    <li>
      <img width="1366" height="700" src="assets/Img/1.jpg">
      <div class="caption center-align">
        <h3>Bayern Munich</h3>
        <h4 class="light grey-text text-lighten-3">Mia San Mia</h4>
      </div>
    </li>
    <li>
      <img width="200" height="700" src="assets/Img/2.gif">
      <div class="caption left-align">
        <h3>Deportivo Independiente Medellín</h3>
        <h4 class="light grey-text text-lighten-3">El poderoso de la montaña</h4>
      </div>
    </li>
    <li>
      <img width="1366" height="700" src="assets/Img/3.jpg">
      <div class="caption right-align">
        <h3>Liverpool</h3>
        <h4 class="light grey-text text-lighten-3">You never walk alone</h4>
      </div>
    </li>
    <li>
      <img width="1366" height="700" src="assets/Img/4.jpg">
      <div class="caption center-align">
        <h3>Ronaldo</h3>
        <h4 class="light grey-text text-lighten-3">El fenomeno</h4>
      </div>
    </li>
  </ul>
</div>