	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-american-football:before { content: "\f100"; }
.flaticon-athlete:before { content: "\f101"; }
.flaticon-athlete-1:before { content: "\f102"; }
.flaticon-baseball:before { content: "\f103"; }
.flaticon-basketball:before { content: "\f104"; }
.flaticon-boxing:before { content: "\f105"; }
.flaticon-certification:before { content: "\f106"; }
.flaticon-cheerleader:before { content: "\f107"; }
.flaticon-cup:before { content: "\f108"; }
.flaticon-cup-1:before { content: "\f109"; }
.flaticon-cycling:before { content: "\f10a"; }
.flaticon-first-aid-kit:before { content: "\f10b"; }
.flaticon-golf:before { content: "\f10c"; }
.flaticon-healthy-food:before { content: "\f10d"; }
.flaticon-hockey:before { content: "\f10e"; }
.flaticon-karate:before { content: "\f10f"; }
.flaticon-lacrosse:before { content: "\f110"; }
.flaticon-medal:before { content: "\f111"; }
.flaticon-ping-pong:before { content: "\f112"; }
.flaticon-podium:before { content: "\f113"; }
.flaticon-rings:before { content: "\f114"; }
.flaticon-shoe:before { content: "\f115"; }
.flaticon-ski:before { content: "\f116"; }
.flaticon-skipping-rope:before { content: "\f117"; }
.flaticon-soccer:before { content: "\f118"; }
.flaticon-softball:before { content: "\f119"; }
.flaticon-sport-bag:before { content: "\f11a"; }
.flaticon-sport-field:before { content: "\f11b"; }
.flaticon-squash:before { content: "\f11c"; }
.flaticon-swimming-pool:before { content: "\f11d"; }
.flaticon-team-badge:before { content: "\f11e"; }
.flaticon-tennis:before { content: "\f11f"; }
.flaticon-tracks:before { content: "\f120"; }
.flaticon-uniform:before { content: "\f121"; }
.flaticon-uniform-1:before { content: "\f122"; }
.flaticon-uniform-2:before { content: "\f123"; }
.flaticon-uniforms:before { content: "\f124"; }
.flaticon-vaulting-horse:before { content: "\f125"; }
.flaticon-volleyball:before { content: "\f126"; }
.flaticon-wrestling:before { content: "\f127"; }