<div>
  <h1>Deportes</h1>
</div>
<!--div class="container">
  <div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/png/football.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Facultad de Ingeniería
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="#">Buscar en Ingeniería</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title
            <i class="material-icons right">close</i>
          </span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/png/volleyball.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Torneos de fútbol
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="#">Ver Torneos</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title
            <i class="material-icons right">close</i>
          </span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m3">
        <div class="card-panel white">
          <a href=""><span class="flaticon-soccer"></span></a> 
          <span class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
            markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
      </div>

    </div>
  </div>
</div-->

<div class="container">
  <div class="row">
    <div class="col s4">
      <a href="http://www.google.com">
        <i href="" class="flaticon-soccer"></i>
        <h2>Fútbol</h2>
      </a>
      <p class="center">Actualmente se encuentran disputando los torneos: -Pasitas de Ing -Cosas de Ciencias exactas
      </p>
    </div>
    <div class="col s4">
      <a ng-href="http://www.google.com">
        <i class="flaticon-basketball"></i>
        <h2>Baloncesto</h2>
      </a>
      <p class="center">Las siguientes facultades se encuentran en fase previa de los torneos</p>
    </div>
    <div class="col s4">
      <a ng-href="http://www.google.com">
        <i class="flaticon-baseball"></i>
        <h2>Baseball</h2>
      </a>
      <p class="center">Las siguientes facultades se encuentran en fase previa de los torneos</p>
    </div>
  </div>
  <div>
    Nexus[editar] Artículo principal: Google Nexus Google posee una gama de dispositivos denominada Nexus. El primer dispositivos
    Nexus fue el teléfono inteligente Nexus One fabricado por HTC, seguido de dos teléfonos inteligentes fabricados por Samsung,
    el Nexus S y el Galaxy Nexus. En 2012, se presentó la primera tableta Nexus, la Nexus 7, fabricada por Asus. En octubre
    de ese mismo año se presentan el teléfono inteligente Nexus 4 y la tableta Nexus 10. En 2013 fue presentada la segunda
    generación de Nexus 7, y el 31 de octubre el nuevo Nexus 5. En 2014 fue presentada la primera tablet con procesador de
    64 bits, Nexus 9, acompañada del primer phablet de la gama Nexus (Nexus 6), ambos con la nueva versión del sistema operativo
    Android 5.0 Lollipop. En 2015 fueron presentados los dos últimos dispositivos de la serie Nexus, el Nexus 5X y el Nexus
    6P, con la versión 6.0 de Android. Actualmente, el soporte de estos dos últimos se prolonga hasta octubre del 2017. Fueron
    reemplazados por la serie Google Pixel. Chromebook En febrero de 2001, Google compra el servicio de debate Usenet Deja
    News y lo transforma en Google Grupos. En marzo del mismo año Eric Schmidt es nombrado presidente de la junta directiva.
    En julio de 2001 lanza su servicio de búsqueda de imágenes. En febrero de 2002 lanza Google Search Appliance. En mayo
    lanza Google Labs que cerrará 9 años más tarde. En septiembre se lanza Google Noticias. En diciembre del mismo año se
    lanza el servicio de búsqueda de productos llamado Froogle, ahora denominado Google Products. En febrero de 2003 Google
    adquiere Pyra Labs y con ello el servicio de creación de blogs Blogger. En abril se presenta Google Grants, un servicio
    de publicidad gratuito para organizaciones sin ánimo de lucro. En diciembre de ese año se lanza Google Print, posteriormente
    Google Libros. En enero de 2004, lanza la red social orkut. En marzo se lanza Google Local que más tarde se integraría
    con Google Maps. En abril Google presentó GMail, su servicio de correo electrónico con 1 Gb de almacenamiento.6​ El 19
    de agosto Google Inc. saldría a la bolsa de valores bajo el símbolo de NASDAQ:GOOG, con una oferta inicial de 25,7 millones
    de acciones, y con un rango de precios de 85 a 95 dólares. En octubre de ese año lanzan Google Desktop, que será descontinuado.
    También lanzó el llamado Google Académico. El 18 de agosto de ese mismo año Google salió a bolsa en WallStreet. En 2004
    compró la empresa Keyhole. Un año después, en 2005, sacaron a la luz Google Maps y Google Earth. Ese mismo año Google
    compró Android Inc. Vint Cerf, considerado uno de los padres de Internet, fue contratado por Google en 2005. También
    lanzó Google Code y se desarrolla el primer Summer of Code. En agosto presenta Google Talk. En octubre Google lanza su
    lector de feeds RSS Google Reader. En noviembre se presenta Google Analytics y en diciembre Google Transit. En 2006,
    lanza Picasa. En marzo adquiere Writely para más tarde lanzar Google Docs y presenta ese mismo mes Google Finance. En
    abril se presenta Google Calendar y en agosto Google Apps, servicio orientado a empresas. En octubre de 2006, Google
    adquirió por 1650 millones de dólares la página de vídeos YouTube.7​ Ese mismo mes adquiere JotSpot que más tarde se
    convertirá en Google Sites. Un año después, en 2007, Google lanzó el sistema operativo abierto para móviles Android y
    creó la Open Handset Alliance. En abril de 2007, Google compró DoubleClick,8​ una empresa especializado en publicidad
    en Internet, por 3100 millones de dólares. Este mismo mes, Google se convirtió en la marca más valiosa del mundo, alcanzando
    la suma de 66 000 millones de dólares, superando a emblemáticas empresas como Microsoft, General Electric y Coca-Cola.
    En junio lanza Google Gears que más tarde será abandonado debido a que lo que ofrecía más tarde fue incorporado en HTML5.
    En julio de 2007, Google compró Panoramio, un sitio web dedicado a exhibir las fotografías que los propios usuarios crean
    y geoposicionan, siendo algunas de ellas subidas al sitio para que puedan ser vistas a través del software Google Earth,
    cuyo objetivo es permitir a los usuarios del mencionado software aprender más sobre una zona específica del mapa, observando
    las fotografías que otros usuarios han tomado ahí. En noviembre presenta OpenSocial. Los fundadores de Google, Sergey
    Brin y Larry Page, y su anterior presidente ejecutivo, Eric Schmidt (2008). En febrero de 2008, se lanza Google Sites.
    El 2 de septiembre de 2008, Google presenta su propio navegador web Google Chrome y el proyecto de código abierto Chromium.
    En diciembre se lanza Google Friend Connect. En febrero se lanza Google Latitude. En marzo se presenta Google Voice.
    En septiembre de 2009 adquiere reCAPTCHA. En noviembre presenta el proyecto de sistema operativo de código abierto Chromium
    OS. En diciembre presenta Google Public DNS. En enero de 2010, Google presenta su primer teléfono móvil, el Nexus One,
    que funciona con Android. En febrero Google hace oficial su intención de desplegar una red de internet a alta velocidad.
    Ese mismo mes adquiere Aardvark. En marzo adquiere Picnik. En mayo lanza Google TV. En octubre presenta su proyecto de
    vehículos autónomos. En diciembre presenta su segundo teléfono, el Nexus S, fabricado por Samsung.
  </div>

</div>