<div class="menu-allversion">
  <div class="menu-vcomputer">
    <nav>
      <div class="nav-wrapper">
        <!--a href="#" class="image-logo"><img src="https://lorempixel.com/65/65/nature/2" alt=""></a-->
        <a href="#" class="brand-logo">UScores</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="">Inicio
              <i class="left material-icons">home</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">Deportes
              <i class="material-icons left">fitness_center</i>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown2">Facultad
              <i class="material-icons left">school</i>
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a href="">Contactos
              <i class="material-icons left">mail</i>
            </a>
          </li>
          <li>
            <a href="">Buscar
              <i class="material-icons left">search</i>
            </a>
          </li>
          <ul id="dropdown1" class="dropdown-content">
            <li>
              <a href="#!">Fútbol</a>
            </li>
            <li>
              <a href="#!">Baloncesto</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#!">Rugby</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#!">Voleibol</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#!">Tenis</a>
            </li>
          </ul>
          <ul id="dropdown2" class="dropdown-content">
            <li>
              <a href="#!">Artes</a>
            </li>
            <li>
              <a href="#!">Ciencias Económicas</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#!">Ciencias Exactas</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#!">Ingeniería</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#!">Educación</a>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
  <div class="menu-vmobile">
    <ul id="nav-mobile" class="side-nav">
      <li>
        <a href="">Inicio
          <i class="material-icons left">home</i>
        </a>
      </li>
      <li>
        <a id="mobile-dropbutton" class="dropdown-button" href="#" data-activates="dropdown3">Deportes
          <i class="material-icons left">fitness_center</i>
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a id="mobile-dropbutton" class="dropdown-button" href="#" data-activates="dropdown4">Facultad
          <i class="material-icons left">school</i>
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a href="">Contactos
          <i class="material-icons left">mail</i>
        </a>
      </li>
      <li>
        <a href="">Buscar
          <i class="material-icons left">search</i>
        </a>
      </li>
      <ul id="dropdown3" class="dropdown-content">
        <li>
          <a href="#!">Fútbol</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">Baloncesto</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">Rugby</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">Voleibol</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">Tenis</a>
        </li>
      </ul>
      <ul id="dropdown4" class="dropdown-content">
        <li>
          <a href="#!">Artes</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">Ciencias Económicas</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">Ciencias Exactas</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">Ingeniería</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#!">Educación</a>
        </li>
      </ul>
    </ul>
  </div>
</div>